@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,900');

body {
  background-color: black;
  margin: 0px;

}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}


#bg {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.0;
  display: inline-block;
  transition: opacity 2s ease-out 2s;
  z-index: -1
}
#menuWrapper {
  width: 0%;
  float: left;
  transition: all 1s ease-in;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}



#topBarWrapper {
  position: fixed;
  margin-top: 44px;
  height: 40px;
  top: 0px;
  width: 100%;
  transition: all 1s ease-in;
}
#topBarMargin {
  margin-left: 44px;
  margin-right: 44px;
}
#openCloseMenuButton {
  transition: all 1s ease-in;
  opacity: 1;
  height: 40px;
  width: 40px;
  border: 0;
  background: url('assets/Icon/openMenu.png');
}

#openCloseMenuButton:hover {
  opacity: 0.65;
}
#openCloseMenuButton:focus {
  outline:0;
}

#mainContent{
  width: 100%;
  opacity: 0.0;
  display: inline-block;
  transition: opacity 2s ease-in;
}
#musicScoreWrapper {
  width: 35%;
  float: left;
  margin-top: 200px;
  margin-bottom: 70px;
  transition: width 1s ease-in;

}
#musicScore {
  display: inline-block;
  width: 80%;
  margin-left: 10%;
  background: black;
  position: relative;
  height: auto;
}
#scoreDescriptionWrapper {
  opacity: 1;
  float: left;
  width: 65%;
  height: 100%;
  display: inline-block;
  transition: width 1s ease-in;
}
#scoreDescription{
  width: 80%;
  margin-left: 10%;
  margin-top: 300px;
}

#descriptionHead {
  width: 100%;
  float: left
}
#descriptionMetadata {
  width: 100%;
  float: left;
  min-width: 200px;
}

#desctiptionHeadWrapper {
  width: 100%;
  display: inline-block;
}


#descriptionTitle {
  font-family: 'Merriweather', serif;
  font-size: 50px;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 900;
}
#descriptionSubtitle {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: white;
  font-weight: 300;
  float: left;
  width: 50%
}
#metadataCategoryClass {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: white;
  font-weight: 400;
  text-align: right;
  line-height: 40px;
  opacity: 0.5;
  float: left;
  width: 50%
}

#descriptionText {
  font-family: 'Roboto', serif;
  font-size: 18px;
  color: white;
  font-weight: 400;
  line-height: 36px;
}

#musicScoreButton{
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(.25,.8,.25,1);
}
#scoreOnTop {
  position: absolute;
  width: 50%;
  top: 25%;
  left: 25%;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(.25,.8,.25,1);
}
